@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Roboto:wght@300&display=swap');

:root {
    --primary-color: #247BA0;
    --secundary-color: #CBD4C2;
    --accent1-color: #C3B299;
    --accent2-color: #50514F;

    --heading-font: 'Edu TAS Beginner', 'cursive';
    --paragraph-font: 'Roboto', 'sans-serif';

    --nav-background-color: #CBD4C2;
    --nav-link-color: #3a4431;
    --nav-hover-link-color: #CBD4C2;
    --nav-hover-background-color: #3a4431;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}

.mainSection {
    border: rgba(0, 0, 0, 0.3) solid 1px;
    padding: 10px;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid #000;
}

.logo {
    margin: 0 0.25rem 0 1rem;
    width: 80px;
    height: auto;
}

header>nav {
    text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    font-size: 1.5rem;
    color: navy;
    padding: 10px;
    text-decoration: none;
}

.navigation a:hover {
    color: var(--accent2-color);
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
legend {
    font-weight: bold;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--accent2-color)
}

a {
    text-decoration: none;
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-weight: bold;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.hero h1 {
    position: absolute;
    top: 10%;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
    font-size: 4.5em;
}

.hero article {
    position: absolute;
    top: 50%;
    bottom: 20%;
    left: 10%;
    right: 10%;
    text-align: justify;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
}

.hero article img {
    float: right;
    width: 25%;
    height: auto;
    margin-left: 20px;
    border: 5px solid var(--accent1-color);
    border-radius: 10px;
}

.hero article p {
    margin: 0;
    color: white;
}

section>h2 {
    display: flex;
    font-size: 2.8em;
    justify-content: center;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 20px;
}

.history img {
    grid-column: 2/3;
    border-radius: 50% 4px;
    max-width: 400px;
    height: auto;
}

.images img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

.imagesGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: flex-end;
    align-content: center;
    padding: 10px;
    border-top: 2px solid #000;
}


.sociallinks {
    display: flex;
    justify-self: flex-end;
    gap: 10px;
}

.sociallinks img {
    width: 40px;
    height: auto;
}

figure {
    border: rgba(146, 161, 149, 0.3) solid 1px;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: var(--paragraph-font);
    font-weight: lighter;
    padding: 3px;
    text-align: center;
}

fieldset {
    margin-top: 1rem;
    /* padding: 1em; */
}

legend {
    font-size: 2.5em;
}

.map {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.company-information-grid {
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: 130px 1fr;
}

.information-title {
    justify-self: end;
    margin-right: 10px;
}

.employee-images-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.2rem;
    margin-top: 2em;
}

.employee-images-grid figure {
    max-width: 260px;
}

.employee-images-grid figcaption {
    width: 245px;
}

.employee-images-grid img {
    width: 250px;
    height: 250px;
}

.form-item {
    display: grid;
    align-items: center;
    margin: 0.6em;
    font-family: var(--paragraph-font);
}

.column2 {
    grid-template-columns: 0.5fr 2fr;
}

.checkbox {
    grid-template-columns: 350px 1fr;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

.submit-button {
    display: flex;
    justify-content: center;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    color: var(--accent2-color);
    background-color: var(--nav-background-color);
    font-weight: 700;
}

.radio-inputs {
    display: flex;
    justify-content: space-between;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.call-to-action-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #FF4500;
    border-radius: 5px;
}

.grid-trips-information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.trip-card {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
    height: fit-content;
}

.trip-card > img {
    width: 100%;
    height: 200px;
}

.trip-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.trip-card-container {
    padding: 2px 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    font-family: var(--heading-font);
    background-color: var(--nav-background-color);
}

td {
    font-family: var(--paragraph-font);
}

th, td {
    border: 2px solid var(--nav-background-color);
    padding: 12px;
    text-align: left;
}

.table-available-trips {
    margin-top: 1em;
    margin-bottom: 1em;
}

.wireframe-link{
    color: #000;
    font-family: var(--paragraph-font);
}