body{
    text-align: center;
    width: auto;
}

main {
    max-width: 2000px;
    margin: 10px;
}

main img {
    width: 150px;
    height: auto;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: rgb(252, 252, 252);
    display: inline;
    padding: 20px;
}

h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: auto;
    margin: 1rem;
    border: 2px solid rgb(0, 0, 0);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img{
    width: 350px;
    height: auto;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}